<ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title size="large">My Navigation Bar</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-label>
        <h1>My content</h1>
      </ion-label>
    </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>

  <!-- <ion-split-pane contentId="main-content"> -->
    <!-- <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <!-- <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-button
      routerLink="/sign-up"
      routerDirection="root"
      expand="block"
      size="large"
      fill="solid"
      color="warning"
      class="ion-margin"
    >
      <ion-icon size="small" name="person-add"></ion-icon>&nbsp;Create New
      Account
    </ion-button> -->
    <!-- <ion-router-outlet id="main-content"></ion-router-outlet> -->
